{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password | bookmarks{% endblock %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="container mt-3">
				<h1>Reset your password</h1>
				<hr class="bg-success">
			  {% if validlink %}
				<p class="text-muted">Please enter your new password twice:</p>
				<form method="post" action="." class="form-group">
					{{ form|crispy }}
					{% csrf_token %}
					<button type="submit" class="btn btn-primary">Reset</button>
				</form>
			  {% else %}
			  	<p class="text-muted">The password reset link was invalid, possibly because it has already been used. Please request a new password reset</p>
			  {% endif %}
			</div>
		</div>
	</div>
{% endblock %}