
.post {
     margin-bottom: 40px;
}
 .post .post-img {
     display: block;
     -webkit-transition: 0.2s opacity;
     transition: 0.2s opacity;
}
 .post .post-img:hover, .post .post-img:focus {
     opacity: 0.9;
}
 .post .post-img > img {
     width: 100%;
}
 .post .post-meta {
     margin-top: 15px;
     margin-bottom: 15px;
}
 .post-meta .post-category {
     font-size: 13px;
     text-transform: uppercase;
     padding: 3px 10px;
     font-weight: 600;
     border-radius: 2px;
     margin-right: 15px;
     color: #FFF;
     background-color: #212631;
     -webkit-transition: 0.2s opacity;
     transition: 0.2s opacity;
}
.post-category:hover, .post-meta .post-category:focus {
     text-decoration: none;
     opacity: 0.9;
}
.post-category.cat-1 {
  background-color: white;
  border-color: #61e49b;

}
.post-category.cat-2 {
     background-color: #61e49b;
}
.post-category.cat-3 {
     background-color: #61e49b;
}
.post-category.cat-4 {
     background-color: #61e49b;
}
.icon-colors {
  color: #007bff;
}
.post_author_image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}
.fa-comments:before {
  color: red;
}
.post-date {
     font-size: 13px;
     font-weight: 600;
}
 .post .post-title {
     font-size: 18px;
     margin-bottom: 0px;
}
 .post-tags li {
     display:inline-block;
     margin-right:3px;
     margin-bottom:5px;
}
 .post-tags li a {
     display:block;
     color:#fff;
     background-color: #212631;
     padding:3px 10px;
     font-weight:600;
     border-radius:2px;
     -webkit-transition:0.2s opacity;
     transition:0.2s opacity;
}
/*----------------------------*\
	post thumb
\*----------------------------*/
 .post.post-thumb {
     position: relative;
}
 .post.post-thumb .post-img:after {
     content: '';
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0;
     background: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 38, 49, 0.3)), to(transparent));
     background: linear-gradient(to top, rgba(33, 38, 49, 0.3) 0%, transparent 100%);
}
 .post.post-thumb .post-body {
     position: absolute;
     bottom: 0px;
     padding: 20px 15px;
}
 .post.post-thumb .post-meta .post-date {
     color: #eceef2;
}
 .post.post-thumb .post-title {
     font-size: 22px;
}
 .post.post-thumb .post-title > a {
     color: #FFF;
}
/*----------------------------*\
	post widget
\*----------------------------*/
 .post.post-widget:after {
     content: '';
     display: block;
     clear: both;
}
 .post.post-widget .post-img {
     width: 90px;
     float: left;
     margin-right: 15px;
}
 .post.post-widget .post-img img {
     width: 100%;
}
 .post.post-widget .post-title {
     font-size: 18px;
}
/*----------------------------*\
	post row
\*----------------------------*/
 .post.post-row:after {
     content: '';
     display: block;
     clear: both;
}
 .post.post-row .post-img {
     width: 40%;
     float: left;
}
 .post.post-row .post-body {
     margin-left: calc(40% + 30px);
}
 .post.post-row .post-meta {
     margin-top: 0px;
}
 .post.post-row .post-title {
     margin-bottom: 15px;
}

.rec {
     font-size: 20px;
     margin-bottom: 10px;
     line-height: 45px;
     height: 45px;
     min-width: 140px;
     padding: 0 30px;
     color: white;
     font-weight: 700;
     box-shadow: inset 3px 0px 0px 0px #ff0000;
}
.ads-top {
  margin-bottom: 16px;
}
.small-featured-post {
     position: relative;
     z-index: 1;
     padding: 20px 0;
}
a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.page-footer.dark {
    background-color: #000000;
}
.page-footer.dark .footer-copyright {
    background-color: #007bff;
    border-color: #007bff;
}
.single-sidebar-widget {
  margin-bottom: 30px;
}

.single-sidebar-widget .title {
  background: #04091e;
  color: #fff;
  padding: 12px 20px;
  margin-bottom: 20px;
}

.single-sidebar-widget:last-child {
  margin-bottom: 0px;
}
.newsletter-widget .col-autos {
  width: 100%;
}

.newsletter-widget p {
  text-align: left;
  margin: 20px 0px;
}

.newsletter-widget .bbtns {
  background: #007bff;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 0;
}

.newsletter-widget .input-group-text {
  border-radius: 0px;
  vertical-align: top;
}

.newsletter-widget .input-group-text i {
  color: #ccc;
  margin-top: -1px;
}

.newsletter-widget .form-control {
  border-radius: 0px;
  font-size: 13px;
  border-color: #007bff;
  color: black;
  padding: 9px;
  padding-left: 15px;
  background: #ecf0f1;
}

.newsletter-widget .form-control:focus {
  box-shadow: none;
  border-color: #007bff;
}

.newsletter-widget ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
  color: #007bff;
}

.newsletter-widget ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
  color: #007bff;
}

.newsletter-widget :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13px;
  color: #007bff;
}

.newsletter-widget :-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px;
  color: #007bff;
}

.newsletter-widget .text-bottom {
  margin-bottom: 0px;
}
.social-network-widget .social-list li {
  margin-bottom: 10px;
  padding: 9px;
}

.social-network-widget .social-list li a {
  text-align: right;
  font-weight: 500;
  border-left: 1px solid #eee;
  padding-left: 10px;
}

.social-network-widget .social-list .fb {
  background: white;
}
.fb-color {
  color: #4c63a2;
}
.border-fb {
  border-color: #4c63a2!important;
}

.social-network-widget .social-list .tw {
  background: white;
}
.tw-color {
  color: #69c9ff;
}
.border-tw {
  border-color: #69c9ff!important;
}

.social-network-widget .social-list .yt {
  background: white;
}
.yt-color {
  color: #c41713;
}
.border-yt {
  border-color: #c41713!important;
}

.social-network-widget .social-list .rs {
  background: white;
}
.rs-color {
  color: #f17300;
}
.border-rs {
  border-color: #f17300!important;
}

.social-network-widget .social-list .icons {
  text-align: center;
}

.social-network-widget .social-list .icons i {
  width: 25px;
  padding: 5px 7px;
  color: #fff;
}

.social-network-widget .social-list .icons p {
  margin-left: 10px;
  border-left: 1px solid #eee;
  padding-left: 10px;
}

.social-network-widget .social-list .icons .fa-facebook {
  color: #4c63a2;
  background: #fff;
}

.social-network-widget .social-list .icons .fa-twitter {
  color: #69c9ff;
  background: #fff;
}

.social-network-widget .social-list .icons .fa-youtube-play {
  color: #c41713;
  background: #fff;
}

.social-network-widget .social-list .icons .fa-rss {
  color: #f17300;
  background: #fff;
}

.social-network-widget .social-list .icons p {
  margin-bottom: 0px;
}
.main-menu {
  background: #04091e;
  padding: 15px 20px;
  position: relative;
}

@media (max-width: 575px) {
  .main-menu {
    margin: 0px 15px;
    width: auto !important;
  }
}
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.nav-menu ul li:last-child {
  border-bottom: none;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  margin: 0;
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu > li {
  margin-left: 20px;
}

.nav-menu ul {
  margin: 20px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #f6214b;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
.menu-title {
  color: #fff;
  margin-left: 10px;
  font-weight: 100;
}
.footer-add-area {
    position: relative;
    z-index: 1;
    padding: 50px 0;
}
.hero-add {
    position: relative;
    z-index: 1;
}
.abs-blr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.jumbotron {
  border-radius: none;
}
.p-20 {
    padding: 20px!important;
}
.post.post-thumb {
     position: relative;
}
.post.post-thumb .post-img:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 38, 49, 0.3)), to(transparent));
  background: linear-gradient(to top, rgba(33, 38, 49, 0.3) 0%, transparent 100%);
}
 .post.post-thumb .post-body {
  position: absolute;
  bottom: 0px;
  padding: 20px 15px;
}
.post.post-thumb .post-meta .post-date {
  color: #eceef2;
}
 .post.post-thumb .post-title {
  font-size: 22px;
}
.post.post-thumb .post-title > a {
  color: #FFF;
  text-shadow: 1px 2px 1px black;
}
.titl {
  font-size: 22px;
  color: #FFF;
  text-shadow: 1px 2px 1px black;
}
.bodi {
  position: absolute;
  bottom: 0px;
  padding: 20px 15px;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0);
}
.single-sidebar-widget {
  border: 1px solid rgba(0, 0, 0, 0);
}
/*----------------------------*\
  share post
\*----------------------------*/
.social-shares a {
  display: inline-block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fbfbfd;
  color: #a7b3c6;
  border: 1px solid #eceef2;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.social-shares  .share-facebook:hover {
  display: inline-block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fbfbfd;
  color: #4c63a2;
  border: 1px solid #4c63a2;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.social-shares  .share-twitter:hover {
  display: inline-block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fbfbfd;
  color: #69c9ff;
  border: 1px solid #69c9ff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.social-shares  .share-instagram:hover {
  display: inline-block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fbfbfd;
  color: #b02769;
  border: 1px solid #b02769;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.social-shares .share-linkedin:hover {
  display: inline-block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fbfbfd;
  color: #007bb5;
  border: 1px solid #007bb5;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.social-shares .share-envelope:hover {
  display: inline-block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fbfbfd;
  color: #ea1a1a;
  border: 1px solid #ea1a1a;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
/*----------------------------*\
  End share post
\*----------------------------*/
.more-info {
  padding: 12px;
  z-index: 999;
}
.side-img {
  width: auto;
  max-height: 900px;
}
@media (max-width: 575px) {
  .side-img {
  width: auto;
  max-height: 300px;
  }
}
.mega-header {
  font-size: 44px;
}
.insparation {
  width: 50%;
  padding: 12px;
}
.what-causes {
  background: url('../img/coreprojectbg.jpg') no-repeat;
  background-size: cover;
}
.what-causes .container-fluid {
  max-width: 1800px;
  margin: auto;
}
.what-causes .cause-title {
  text-align: center;
  color: #fff;
  width: 40%;
  margin: 0 auto 30px;
}
.p80 {
  padding: 80px 0;
}
.wf100 {
  width: 100%;
  float: left;
}
:root {
  --main-white-color: white;
  --main-black-color: black;
}
 
.static {
  position: static; 
}
 
.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-carousel .owl-slide {
  position: relative;
  height: 60vh;
}
 
.owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}
 
.owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
 
.owl-carousel .owl-slide-image.is-transitioned {
  transition-delay: 0.2s;
}
.owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}
.owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.35s;
}
 
.owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}
.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
  position: absolute;
}
 
.owl-carousel .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid var(--main-black-color);
  transition: all 0.2s ease;
}
 
.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
  background: var(--main-black-color);
}
 
.owl-carousel .owl-nav {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  margin: 0;
}